<% content_for :title, "Editing share" %>

<h1>Editing share</h1>

<%= render "form", share: @share %>

<br>

<div>
  <%= link_to "Show this share", @share %> |
  <%= link_to "Back to shares", shares_path %>
</div>
